.my-col1 {
    background-color: rgba(0, 0, 0, 0.808);
    color: white;
    padding: 3%;
 }
 .my-col2 {
     background-color: rgb(226, 222, 222);
    
    }
 .my-col3 {
     background-color: white;
     }
 .my-row {
     height: auto;
     width: auto;
 }
 .my-nav {
     color: white;
     margin-top: 10%;
 }
 .btn1{
   margin-left: 80%;
 }
 .btn-warning {
     background-color: gold;
     color: white;
     align-content: space-between;
 }
 .btn-warning1 {
  background-color: grey;
  color: black;
  align-content: space-between;
}
.my-input {
  margin-top: 40%;
  height: 200px;
 }
 .my-group {
     margin-top: 40%;
  }
#search-wrapper {
  display: flex;
  justify-content: space-between;
}